body {
    background-color: #162f48;
}

.navbar {
    background-color: #011d38;
}

h1{
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.loading{
    color: #878789;
    font-family: 'Arial', sans-serif;
    text-align: center;
}