h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.5em;
}

p{
    color: #7c523f;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 20px;
}

.card{
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.navbar{
    background-color: #a99d98;
}

